<div class="bottom dyw-footer">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 flex">
        <div class="card">
          <div class="card-body">
              Copyright {{theyear}} - SunKoiWish | AKINO LLC.
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 flex">
          <div class="card">
              <div class="card-body">
                  2D > 3D 
              </div>
            </div>  
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 flex">
          <div class="card">
              <div class="card-body">
                  Follow us on <i class="fa fa-twitter"></i> Twitter!
              </div>
            </div>       
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 flex">
            <div class="card">
                <div class="card-body">
                    Like us on <i class="fa fa-facebook"></i> FaceBook!
                </div>
              </div>       
        </div>
    </div>
</div>