.dyw-padding {
    padding: 6px 6px 6px 6px;
}

.dyw-pink-color {
    background-color: palevioletred;
}

.panel-image {
     width: 100%;
    // min-height: 180px;
    // max-height: 200px;
    overflow: hidden;
    position: relative;
}

.cover-image
{
  padding-top: 18px;
  height: 220px;
  width: 220px;
  max-width: auto;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

img {
    transform: scale(1,1);
    transition-duration: 700ms;
    transition-timing-function: ease-out;
}

.panel-image:hover img {
    transform: scale(1.2, 1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.7;
}


.member-icons {
    position: absolute;
    bottom: -200%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}

.panel-image:hover .member-icons {
    bottom: 0;
    opacity: 1;
}

.animate {
    transition: all 0.4s ease-in-out;
}
