
// below not used

.dyw-padding {
    padding: 5px 5px 5px 5px;
}

.equal {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
}

.d-flex {
    flex-grow: 1;
    display:flex;
}

.no-overlap {
    height: 100%;
    width: 100%;
}