<div class="container-fluid">
  <!-- We need to change this and use events. -->
  <div class="row" *ngIf="registerToggle">
    <div class="col">
      <app-register></app-register>
      <br>
    </div>
    <hr>
  </div>
  <!-- Content here -->
  <div class="row">
    <div class="col-sm-4">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">Find Yo Waifu!</h1>
          <p class="lead">Sick of 3D? Don't worry, you can still find love...</p>
          <h2>
            <i class="fa fa-heart"></i>
          </h2>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <h3>
        DO YOU KNOW DA WEI?!
      </h3>

      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/l0bsjFlM0H8" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>




